.commendments-container{
    margin-top: 80px;
    /* background-color: red; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.old-paper {
    /* background-image: url('https://images.pexels.com/photos/10526880/pexels-photo-10526880.jpeg?auto=compress&cs=tinysrgb&w=175&fit=crop&h=275&dpr=1'); replace with the path to your old paper background image */
    background-repeat: no-repeat;    
    background-size: cover;
    height: 100vh;
    /* background-color: red; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.404),inset 0px 0px 10px rgba(0, 0, 0, 0.400);
    border-radius: 10px;
    min-height: 500px;
    width: 80%;
    margin: auto;

    background-position: center;
    color: #7e5c1c; /* set the text color to a shade of brown to match the old paper effect */
    font-family: 'Times New Roman', Times, serif; /* use a serif font to match the old paper effect */
    font-size: 20px; /* set the font size as per your preference */
    padding: 20px; /* add some padding to the div to give it some margin from the edges */
  }

.commendment-contenet{
    width: 80%;
    margin-bottom: 35px !important;
}
.commendment-contenet h3{
    font-size: 26px;
    margin-bottom: 15px
}
.commendment-contenet p{
    margin-bottom: 20px;
    letter-spacing: 0.00938em;
    line-height: 1.6;
}


.commendment-map{
    position: fixed;
    border: 1px solid ;
    text-align: left;
    background-color: white;
    z-index: 3;
    border-bottom:4px solid rgb(128, 128, 128) !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;

    padding: 40px 25px;
    box-sizing: border-box;

}
.commendment-map ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
}
.commendment-map ul li{
    transition: 0.3s;
    line-height: 1.8;
    cursor: pointer;
    color: rgb(117, 156, 240);


}
.commendment-map ul li:hover{
    transform: translateX(15px);
    color: rgb(0, 56, 177);

}