.section-title {
    /* text-align: center; */
    margin-bottom: 40px;
}

.section-title .title {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    margin: 0;
    margin-bottom: 8px;
    margin-left: 5px;
}

.section-title .title-underline {
    width: 100px;
    height: 6px;
    border-radius: 3px;
    background-color: #22B4D7;
}


@media only screen and (max-width: 768px) {
.section-title .title-underline {
    width: 100px;
    height: 6px;
    margin: 0 auto;
}
}