.pedia-container{
    margin: auto;
    margin-top: 80px;
    color: white;
    max-width: 1320px;
    min-height: 100vh;
}
.pedia-discord{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0px;
    background-color: #F0F8FF;
    color: black;
    padding: 15px 25px;
}
.pedia-discord-first{
    font-weight: bolder;
}
.pedia-discord-second{
    color: rgb(37, 37, 37);
}
.pedia-discord-button{
    background-color:#32CF93;
    padding: 15px 30px;
    word-spacing: 5px;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
}


/* media query  */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pedia-discord-button{
        padding: 6px 25px;
        font-size: 14px;
    }
    .pedia-discord{
        font-size: 14px;
    }
}
@media screen and (max-width: 767px) {
    .pedia-search{
        width: 100%;
    }
    .pedia-discord-button{
        padding: 1px 25px;
        font-size: 15px;
    }
    .pedia-discord{
        font-size: 14px;
    }
}
  
  /* media query  */