#team-section{
    /* height: 100vh; */
    /* padding-top: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

/* #team-section .team-member-card{
    max-width: 260px;
    margin: 0 auto;
    background-color: #F9FAFB;
    padding: 24px;
}

#team-section .team-member-card h3{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

#team-section .team-member-card h4{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #22B4D7;
    margin: 0;
}

#team-section .team-member-card h4{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
 */



#team-section .team-member-card{
    max-width: 250px;
    margin: 0 auto;
}

#team-section .team-member-card img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    object-fit: cover;
}

#team-section .team-member-card h3{
    /* background-color: #22B4D7; */
    background-color: #FFFFFF;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #002C36;
    margin: 0;
    margin-bottom: 0;
    padding: 0 5px;
    border-left: 1px rgba(255, 255, 255, 0.6) solid;
    border-right: 1px rgba(255, 255, 255, 0.6) solid;
}

#team-section .team-member-card p{
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #ffffffaa;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.06em;
    border-left: 1px rgba(255, 255, 255, 0.6) solid;
    border-right: 1px rgba(255, 255, 255, 0.6) solid;
    margin: 0;
    border-bottom: 1px rgb(255, 255, 255) solid;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    #team-section{
        height: unset;
    }
}