#team{
    background: #EBEDF0;

	/* background-image: linear-gradient(to right, rgba(34, 180, 215, 0.4), rgba(230, 237, 247, 1)); */
    /* background-image: url('../../assets/images/all-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; */
}

#team .team-card-backside p{
    font-size: 15px;
    line-height: 1.1;
}

@media only screen and (max-width: 768px) {
    #team{
        height: unset;
    }
}