.job-section-wrapper {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin: 60px;
    width: 100%;
    max-width: 1500px;
}


.job-section-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}

.back-button {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff00;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.back-icon {
    margin-right: 10px;
}

.job-item .job-info h5 {
    font-weight: bold;
}

.left-section,
.right-section {
    height: 100%;
    padding: 0px;
}

.right-section {
    padding: 10px 20px;
    /* position: absolute;
    right: 0;
    bottom: 0; */
}

.jobs-header {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(43, 194, 214, 0.582);
    padding: 20px;
}


/* .left-section,
.right-section {
} */



.job-info {
    line-height: 18px;
}

.job-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.job-item:hover {
    background-color: #f8f9fa;
    border-radius: 0;
}

.job-item.active,
.job-item.active:hover {
    background-color: #e3e6f0;
    border-radius: 0;
    border-left: 2px #22B4D7 solid;
}

.job-icon {
    height: 60px;
    width: 60px;
    background-color: #EBEDF0;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    filter: hue-rotate(33deg);
}

.job-icon img {
    height: 40px;
    width: 40px;
}

.right-section {
    border-left: 1px solid #e3e6f0;
    /* background-color: #ffffee; */
    background-color: white;
}

.right-section h2 {
    margin-top: 10px;
    font-weight: bold;
}

.right-section h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.right-section ul {
    padding-left: 20px;
}

.right-section li {
    margin-bottom: 5px;
}

.right-section li i {
    color: #0d6efd;
    margin-right: 5px;
}



@media only screen and (max-width: 768px) {
    .job-section-wrapper {
        margin: 35px 15px;
    }
    .left-section {
        cursor: pointer;
    }

    .right-section {
        position: unset;
        right: unset;
        bottom: unset;
    }

    .d-none {
        display: none;
    }

    /* .job-section-wrapper #apply-now {
        font-size: 1px;
    } */

}
