
a{
    text-decoration: none !important;
}


body{
    margin: 0;
    padding: 0;
    background: #F9F9F9;
    overflow-x: hidden;
}


.global-btn {
    --color: #22B4D7;
    padding: 0.5em 1.5em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

.global-btn::before,
.global-btn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
}

.global-btn::before {
    top: -1em;
    left: -1em;
}

.global-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.global-btn:hover::before,
.global-btn:hover::after {
    height: 410px;
    width: 410px;
}

.global-btn:hover {
    color: white;
}

.global-btn:active {
    filter: brightness(.8);
}