footer{
    background: #02242c;
    padding: 20px 40px;
    border-top: 1px rgba(255, 255, 255, 0.5) solid;
}

footer h3{
    font-weight: bold;
    color: #fff;
}

footer h6{
    color: #fff;
}

footer h3 span{
    color: #52D094;
}