
 .category-card-item{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    background-color: #024457;
    padding: 0 15px;
    width: 90%;
    aspect-ratio: 3/4;
    border-radius: 15px;
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-out, scale 0.3s ease-out;
}

 .category-card-item:hover{
    background-color: #52D094;
    scale: 0.97;
    cursor: pointer;
}

.category-card-item .category-card-item-image {
    width: 45%;
}

.category-card-item .category-card-item-image img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
    filter: grayscale(100%) brightness(200%);
    transition: filter 0.3s ease-out;
}

 .category-card-item .category-card-item-name {
    font-size: 1.3em;
    color: white;
    max-width: 100%;
}

 .category-card-item .category-card-item-name p{
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.1em;
    text-align: start;
    letter-spacing: 0.098rem;
    transition: color 0.3s ease-out;
    text-overflow: ellipsis;
    overflow: hidden;
    max-lines: 1;
}

 .category-card-item .category-card-item-name p.tools-count{
    margin: 0;
    text-transform: lowercase;
    font-weight: 600;
    text-align: start;
    font-size: .9em;
    color: hsla(0, 0%, 100%, 0.6);
    transition: color 0.3s ease-out;
}



@media screen and (max-width: 767px) {
    .category-card-item{
        width: 100%;
    }
     .category-card-item .category-card-item-name {
        font-size: 1em;
    }
}