
#home .video-section{
    background: rgba(249, 249, 249);
    width: 100%;
}

#home .take-action{
    background-image: url('../../assets/images/ai-human-hands.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 400px;
    width: 100%;
    border-top: 2px rgba(0, 0, 0, 0.1) solid;
    border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
}

#home .take-action .content{
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
}


#home .take-action .content img{
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 20px;
    max-width: 80%;
    animation: glowing 2s infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#home .take-action .content p{
    margin-top: 10px;
    text-align: center;
    text-transform: lowercase;
    /* color: `; */
}



@media only screen and (max-width: 768px) {
    #home #hero .dots-web {
        height: auto;
        width: 100vw;
        top: 0;
        rotate: -90deg;
    }
    #home #hero .white-logo {
        height: 196px;
        width: 196px;
    }
    #home .take-action{
        height: 180px;
    }
    #home .take-action .content p{
        font-size: 20px;
    }
}