
#home .video-section{
    /* background-color: #22B4D755; */
}

@media only screen and (max-width: 768px) {
    #home #hero .dots-web {
        height: auto;
        width: 100vw;
        top: 0;
        rotate: -90deg;
    }
    #home #hero .white-logo {
        height: 196px;
        width: 196px;
    }
}