/* .section-services{
    background-image: url('../../assets/images/all-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
} */


.services-description{
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px black;
    /* background-color: #22B4D7; */
    border-radius: 8px;
}

.section-services .single-service{
    background-size: cover;
    transition: all 0.5s ease;
    /* height: 80%; */
    max-width: 350px;
    aspect-ratio: 1;
}

.section-services .single-service:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.section-services .single-service .services-description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
}
.section-services .single-service:hover .services-description {
	color: #ffffff;
}

.services-title{
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 16px;
    transition: color .3s;
    color: rgba(255, 255, 255);
    text-transform: uppercase;
	font-family: 'Sans serif' !important;
    
}
.section-services .single-service:hover .services-title {
	color: #ffffff;
}

.service-shadow{
    background-color: rgba(0, 0, 0, 0.329);
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.section-services .single-service .learn-more {
	position: relative;
	font-size: 18px;
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}
.section-services .single-service:hover .learn-more{
	color: #ffffff;
}
.section-services .single-service .learn-more:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #22B4D7;
	transition: background-color .3s;
}
.section-services .single-service:hover .learn-more:after {
	background-color: #fff;
}

.mobile-content {
    display: none;
}

@media (max-width: 768px) {

    .section-services .single-service{
        width: 100%;
        height: unset;
        max-width: unset;
        max-height: 300px;
        aspect-ratio: unset;
    }
    
    .mobile-content {
        display: unset;
    }
    .mobile-content .card{
        border-radius: 0;
        border: unset !important;
        box-shadow: unset;
        border-bottom-left-radius: 20px !important;
        border-bottom-right-radius: 20px !important; 
    }
    .mobile-content .card button{
        text-decoration: none;
        font-weight: 600;
    }

    .section-services .single-service{
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

}
