.version-state-chip {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    color: aliceblue;
}


.version-state-chip p{
    margin: 0;
}

.version-state-chip .icon{
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px
}

.version-state-chip i{
    font-size: .8em;
}