.version-state-chip {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    color: aliceblue;
}


.version-state-chip p{
    margin: 0;
}

.version-state-chip i{
    margin-right: 5px;
}