@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;600;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.App {
    overflow-x: hidden;
    background-color: #002C36;
    font-family: 'Wix Madefor Display', sans-serif !important;

}

a {
    text-decoration: none !important;
}

