#about{
    background: #F9F9F9;
    height: 100vh;
}
#about .about-text{
    font-size: 20px;
}


#about .about-img{
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 768px) {
    #about{
        height: unset;
    }
}

/* ----button--- */
.manifesto-button {
    font-size: 18px;
    /* margin-top: 95px !important; */
    color: #22B4D7;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .manifesto-button:focus,
  .manifesto-button:hover {
    color: #22d792;
  }
  
  .manifesto-button:focus:after,
  .manifesto-button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .manifesto-button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #303030;;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }
/* ----button--- */