#about{
    background: #F9F9F9;
    height: 100vh;
}
#about .about-text{
    font-size: 20px;
}


#about .about-img{
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 768px) {
    #about{
        height: unset;
    }
}

.read-manifest {
    font-size: 18px;
    color: #22B4D7;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }
  
  .read-manifest:focus,
  .read-manifest:hover {
    color: #13c05b;
  }
  
  .read-manifest:focus:after,
  .read-manifest:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .read-manifest:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #13c05b;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }



@media only screen and (max-width: 768px) {
#about .about-text{
    font-size: 16px;
}
}