/* JobSection.css */
.job-section {
	background-image: linear-gradient(to right, rgba(34, 180, 215, 0.4), rgba(230, 237, 247, 1));
  /* height: 600px; */
  /* height: 100vh !important; */
  /* padding-bottom: 80px; */
  /* border: 1px solid #e3e6f0; */
  /* border-radius: 5px; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); */
  /* border-radius: 10px !important; */
  /* background-color: #EBEDF0; */
}

.page-view {
  margin-top: 55px;
  background-color: #22B4D7aa;
  /* background-image: url('../../assets/images/all-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat; */
}

.job-section-wrapper{
  /* height: 500px; */
  background-color: white;
}

.back-button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff00;
  color: #333;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.back-icon {
  margin-right: 10px;
  /* margin-bottom: 10px; */
}

.job-item .job-info h5{
  font-weight: bold;
}

.left-section,
.right-section {
  height: 100%;
  padding: 0px;
}
.right-section {
  padding: 10px 20px;
}
/* Add this to JobSection.css */
.jobs-header {
  margin-bottom: 20px;
  /* font-weight: bold; */
  font-size: 22px;
  font-weight: bold;
  background-color: rgba(43, 194, 214, 0.582);
  padding: 20px;
  /* border-top-right-radius: 10px !important; */
  /* border-top-left-radius: 10px !important; */


}


.left-section,.right-section {
  /* overflow-y: auto; Add this line */
}

.job-list {
  max-height: 600px; /* Update the height calculation */
  overflow-y: auto;
}

@media (max-width: 767px) {
  .left-section {
    cursor: pointer;
  }

  .d-none {
    display: none;
  }
  /* .job-section-wrapper{
    height: 95vh;
  } */
  
}

.job-info{
  line-height: 18px;
}
.job-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.job-item:hover {
  background-color: #f8f9fa;
  border-radius: 0;
}

.job-item.active,
.job-item.active:hover {
  background-color: #e3e6f0;
  border-radius: 0;
  border-left: 2px #22B4D7 solid;
}

.job-icon {
  height: 60px;
  width: 60px;
  background-color: #EBEDF0;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  filter: hue-rotate(33deg);
}

.job-icon img {
  height: 40px;
  width: 40px;
}

.right-section {
  border-left: 1px solid #e3e6f0;
  /* background-color: #ffffee; */
  background-color: white;
}

.right-section h2 {
  margin-top: 10px;
  font-weight: bold;
}

.right-section h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.right-section ul {
  padding-left: 20px;
}

.right-section li {
  margin-bottom: 5px;
}

.right-section li i {
  color: #0d6efd;
  margin-right: 5px;
}

