#home #hero{
    height: 100vh;
}

#home #hero .white-logo {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    animation: glowing 2s infinite;
}


#home #hero .dots-web {
    position: absolute;
    z-index: -1;
    right: 0;
    height: 100vh;
    opacity: 0.4;
    animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 0.4;
    }
}

#home #hero h1{
    font-size: 45px;
}

#home #hero .hero-btn{
    background-color: #22B4D7;
    border: none;
}


@media only screen and (max-width: 768px) {
    #home #hero .dots-web {
        height: auto;
        width: 100vw;
        top: 0;
        rotate: -90deg;
    }
    #home #hero .white-logo {
        height: 196px;
        width: 196px;
        margin-top: 80px;
    }
}