#home #hero{
    height: 100vh !important;
    background-image: url('../../assets/images/ai-sus.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.react-typewriter-pointer{
    background-color: white !important;
    padding: 3px;
    margin-left: 10px;

}

/* #home #hero-content .left-side{
    padding: 10px 20px;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
    
} */

/* #home #hero-content .left-side h6{
    width: fit-content;
    padding: 5px 8px;
    margin: 0;
    font-size: 20px;
} */

/* #home #hero-content .left-side h1{
    font-weight: bold;
    font-size: 33px;
    max-width: 70%;
}

#home #hero-content .left-side h2{
    font-size: 18px;
    max-width: 60%;
} */

/* #home #hero .dots-web {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    left: 0;
    top: 0;
    rotate: 180deg;
    height: 100vh;
    opacity: 0.1;
} */

/* #home #hero-content img.tech-heart{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
} */



/* @media only screen and (max-width: 768px) {

    #home #hero-content .left-side{
        height: 60vh;
    }

    #home #hero-content .left-side h1{
        font-size: 25px;
    }

    #home #hero-content .left-side h2{
        font-size: 15px;
        max-width: 90%;
    }
    #home #hero-content .left-side .brain-logo{
        display: none;
    }
    #home #hero-content img.tech-heart{
        height: 40vh;
    }
} */


#home #hero #shadow-bg{
    background-color: #1bb0bb;
    /* background-color: #22B4D7; */
    opacity: 0.55;
    height: calc(100% + 55px);
    width: 100%;
    z-index: 0;
    pointer-events: none;
}

#home #hero #hero-content{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

#home #hero #hero-content .left-part h6{
    color: #ffffffee;
    width: fit-content;
    padding: 5px 8px;
    margin: 0;
    font-size: 20px;
}
#home #hero #hero-content .left-part h1,.intro-innovating{
    color: white;
    font-weight: bold;
    font-size: 40px;
}
    
#home #hero #hero-content .left-part h2{
    font-size: 25px;
    color: #ffffffee;
}

#home #hero .white-logo {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    animation: glowing 2s infinite;
    z-index: 200;
    box-shadow: 2px 2px 4px #22b3d7ad;
}

 
#home #hero .dots-web {
    position: absolute;
    z-index: 1;
    right: 0;
    height: 100vh;
    opacity: 0.4;
    animation: slideInFromRight 1s ease-out forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 0.8;
    }
}

#home #hero h1{
    font-size: 45px;
}

#home #hero .hero-btn{
    background-color: #22B4D7;
    border: none;
} 


@media only screen and (max-width: 768px) {
    #home #hero .dots-web {
        rotate: -90deg;
        height: auto;
        width: 100vw;
        top: 0;
    }

    #home #hero .white-logo {
        height: 196px;
        width: 196px;
        margin-top: 80px;
    }

    #home #hero #hero-content .left-part h1{
        font-size: 35px;
        line-height: 1.05;
    }

    #home #hero #hero-content .left-part h2{
        margin: 0 auto;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 1.05;
    }

    #home #hero #hero-content .left-part h6{
        margin: 0 auto;
        margin-bottom: 10px;
    }
} 

.hero-learn-more{

}

.hero-learn-more {
    position: relative;
    padding: 15px 45px;
    /* background: #FEC195;
    border: 1px solid #FEC195; */
    background: #22c458;
    border: 1px solid #22c458;
    font-size: 17px;
    font-weight: 500;
    /* color: #181818; */
    color: white;
    border-radius: 8px;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .2));
  }
  
  .hero-learn-more:hover {
    /* border: 1px solid #f3b182;
    background: linear-gradient(85deg, #FEC195, #fcc196, #fabd92, #fac097, #fac39c); */
    animation: wind 2s ease-in-out infinite;
  }
  
  @keyframes wind {
    0% {
      background-position: 0% 50%;
    }
  
    0% {
      background-position: 50% 100%;
    }
  
    0% {
      background-position: 0% 50%;
    }
  }
  
  .hero-learn-more .icon-1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    transform-origin: 0 0;
    transform: rotate(10deg);
    transition: all .5s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .3));
  }
  
  .hero-learn-more:hover .icon-1 {
    animation: slay-1 3s cubic-bezier(0.52, 0, 0.58, 1) infinite;
    transform: rotate(10deg);
  }
  
  @keyframes slay-1 {
    0% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(10deg);
    }
  }
  
  .hero-learn-more .icon-2 {
    position: absolute;
    top: 0;
    left: 25px;
    width: 12px;
    transform-origin: 50% 0;
    transform: rotate(10deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
  }
  
  .hero-learn-more:hover .icon-2 {
    animation: slay-2 3s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-2 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(15deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }
  
  .hero-learn-more .icon-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    transform-origin: 50% 0;
    transform: rotate(-5deg);
    transition: all 1s ease-in-out;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, .5));
  }
  
  .hero-learn-more:hover .icon-3 {
    animation: slay-3 2s cubic-bezier(0.52, 0, 0.58, 1) 1s infinite;
    transform: rotate(0);
  }
  
  @keyframes slay-3 {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0);
    }
  }