.pedia-items-title{
    font-size: 24px;
    padding: 25px 0px;
}
.pedia-items-container{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 

}
.pedia-items-container .pedia-item{
    /* background-color: #EEEEEE; */
    background-color: #373737;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    padding: 5px;
    overflow: hidden;
    border-radius: 5px;
    /* box-shadow: 0 0 5px rgb(39, 227, 252); */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.342);
}
.pedia-item img{
    width: 100%;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}
.pedia-item img:hover{
    transform: scale(1.05);
    overflow: hidden;
}
.pedia-item-top{
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    padding: 15px 5px;
    width: 100%;
}
.pedia-item-top .pedia-chatfast{
    font-size: 23px;
    color: #32CF93;
    cursor: pointer;
}
.pedia-item-top .pedia-mium{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    border-radius: 10px;
    font-size: 14px;
}
.pedia-item-description{
    /* color: rgb(41, 41, 41); */
    color: rgba(255, 255, 255, 0.726);
    padding: 0px 7px;
    font-size: 14px;
    margin: 0px auto;

}
.pedia-item-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 7px;
    width: 100%;
}
.pedia-item-bottom .pedia-item-catigorie{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.pedia-item-bottom .pedia-item-catigorie div{
    background-color: black;
    color: #32CF93;
    padding: 0px 10px;
    border-radius: 6px;
}
.pedia-item-heart{
    /* color: rgb(49, 49, 49); */
    color: rgb(134, 134, 134);
    font-size: 24px;
}
.pedia-item-label{
    color: #32CF93;
    background-color: #F0F8FF;
    position: absolute;
    top: 40px;
    right: 0px;
    padding: 10px 20px;
    font-weight: bolder;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px rgba(0, 140, 255, 0.144) solid;
}


/* media query  */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .pedia-items-container{
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media screen and (max-width: 767px) {
    .pedia-items-container{
        grid-template-columns: repeat(1, 1fr); 
        width: 95%;
        margin: auto;
    }
}
  
  /* media query  */