.commendments-container{
    margin-top: 55px !important;
    background: #EBEDF0;
}
.commendments-header{
    text-align: left;
    margin-bottom: 50px;
}
.commendments-header h4{
    font-weight: 600;
}
.commendments-container h3,.commendments-content h3{
    font-size: 37px;
    margin-bottom: 35px;
    text-align: left;
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: -.5px;
    color: rgb(51, 51, 51);
}
.commendments-header p{
    /* line-height: 2; */
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 0px;
}
.download-manifest{
    font-weight: bolder;
    
}

.commenment-img{
    width: 100%;
    height: 100%;
}
.commendment-wrapper{
    margin-top: 70px;
}
.download-manifest a:hover{
    color: rgb(21, 104, 90);
}
.commenment-img {
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.commenment-img:hover {
    scale: 1.03;
}
@media (max-width: 600px) {
    .commendments-header,.commendments-header h3,.commendments-content h3{
        text-align: center !important;
    }
  }