

.main-title {
    text-align: center;
    /* width: fit-content; */
    /* font-family: 'Roboto', sans-serif; */
}

.main-title h3,
.main-title button,
.main-title a {
    font-size: 36;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.2px;
    color: white;
    margin: 0;
}

.main-title button,
.main-title a {
    transition: all 0.3s ease;
}

.main-title button:hover,
.main-title a:hover {
    color: #22B4D7;
    /* Adjust hover color as needed */
    cursor: pointer;
}


.main-title .side-spike-triangle{
    transition: background-color 0.3s ease;
    height: 80px;
    width: 10px;
    background-color: white;
    opacity: 0.6;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* .main-title:hover .side-spike-triangle {
    background-color: #28db64 !important;
    cursor: pointer;
} */

.main-title .side-to-right{
    transform: rotate(90deg);
}

.main-title .side-to-left{
    transform: rotate(-90deg);
}


.main-subtitle{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    max-width: 60%;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 768px) {
    .main-title h3,
    .main-title button,
    .main-title a {
        font-size: 18px;
        letter-spacing: 1.18px;
        margin: 0 35px;
    }
    
    .main-title .side-to-right,.main-title .side-to-left{
     width: 8px;   
     height: 50px;
    }
    .main-subtitle{
        max-width: 80%;
    }
}