.categories-page {
    margin: auto;
    margin-top: 80px;
    padding-bottom: 60px;
    color: white;
    max-width: 1320px;
}

/* BREADCRUMBS */
.categories-page .navigation-breadcrumbs{
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.categories-page .navigation-breadcrumbs i{
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    opacity: 0.8;
    user-select: none;
    width: 1em;
    height: 1em;
}

.categories-page .navigation-breadcrumbs .navigation-breadcrumbs-item{
}

.categories-page .navigation-breadcrumbs .navigation-breadcrumbs-item a{
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--theme-green);
    transition: all 0.1s ease-out;
}

.categories-page .navigation-breadcrumbs .navigation-breadcrumbs-item a:hover{
    color: #39a873;
    text-decoration: underline !important;
}

.categories-page .navigation-breadcrumbs .navigation-breadcrumbs-item p{
    padding: 0;
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
}
/* END OF BREADCRUMBS */



@media screen and (max-width: 767px) {
}