.pedia-title{
    font-size: 25px;
    text-align: center;
    font-weight: bolder;

}
.pedia-subtitle{
    text-align: center;
    color: rgb(224, 224, 224);
    margin-top: 10px;

}
.pedia-explore-button{
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
.pedia-explore-button button{
    background-color: #32CF93;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    color: white;
    transition: 0.3s;
}
.pedia-explore-button button:hover{
    background-color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    color: #32CF93;
}
.pedia-search{
    /* background-color: yellow; */
    margin: auto;
    width: 70%;
    text-align: center;
    position: relative;
    margin-top: 20px;

}
.pedia-search input{
    width: 100%;
    padding: 13px;
    border-radius: 50px;
    border: 2px solid black;
}
.pedia-search input:focus{
    outline: none;
}
.pedia-search input:hover{
    border-color: rgb(98, 219, 193);
}
.pedia-search div i{
    color: rgba(0, 0, 0, 0.712);
    font-size: 20px;
}
.pedia-search div{
    position: absolute;
    top: 5px;
    right: 6px;
    border-radius: 50px;
    color: black;
    padding: 0px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#32CF93;
    height: 83%;
}
.pedia-catigories{
    /* background-color: yellow; */
    /* margin: auto; */
    display: flex;
    padding: 14px;
    gap: 10px;
    flex-wrap: wrap;
}
.pedia-catigories div a{
    color:#32CF93;
}
.pedia-catigories div{
    color:#32CF93;
    background-color: #F0F8FF;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bolder;
    width: auto;
    cursor: pointer;
    transition: 0.2s;
}
.pedia-catigories div:hover a{
    color:#F0F8FF;
}
.pedia-catigories div:hover{
    color:#F0F8FF;
    background-color: #32CF93;
    /* padding: 5px 8px; */
    scale: 0.95;
}
.active-category a{
    color:#f0ddff !important;
}
.active-category{
    color:#f0ddff !important;
    background-color: #984dd6 !important;
    scale: 0.95 !important;
}