#home-page .take-action {
    background-image: url('../../../assets/images/ai-human-hands.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 380px;
    width: 100%;
    border-top: 2px rgba(0, 0, 0, 0.1) solid;
    border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
}

#home-page .take-action .content {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
}


#home-page .take-action .content img {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 20px;
    max-width: 80%;
    animation: glowing 2s infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#home-page .take-action .content p {
    margin-top: 10px;
    text-align: center;
    text-transform: lowercase;
    /* color: `; */
}


#home-page .make-sth-greater{
    height: 365px;
    width: 100%;
    background-image: linear-gradient(180deg, rgba(0, 44, 54, 0.88) 0%, #22B4D7 100%);
}

#home-page .make-sth-greater .content{
    height: 100%;
    width: 100%;
    background-image: url('../../../assets/images/digital-branches.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#home-page .make-sth-greater .content p{
    color: white;
}

#home-page .make-sth-greater .content .greater-logo{
    /* height: 50%; */
}


@media only screen and (max-width: 768px) {
    #home-page .take-action {
        height: 180px;
    }
        
    #home-page .take-action .content p {
        font-size: 20px;
    }
    #home-page .make-sth-greater .content .greater-logo{
        /* height: 50%; */
        max-width: 80%;
        height: auto;
    }
}