.ScrollProgressBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    z-index: 1000;
    background-color: lightgray;
}

.ScrollProgressBar__progress {
    height: 100%;
    transition: width 0.2s ease-in-out;
    background: linear-gradient(to right, #22B4D7, #28db64);
}